<h1>Artists#new</h1>
<p>Find me in app/views/artists/new.html.erb</p>
<%= form_for(@artist) do |a| %>
<%= a.label :name %>
<%= a.text_field :name %>
<%= a.label :bio %>
<%= a.text_area :bio %>
<%= a.submit %>
<% end %>
