<h1>Songs#new</h1>
<p>Find me in app/views/songs/new.html.erb</p>
<%= form_for(@song) do |s| %>
<%= s.label :name %>
<%= s.text_field :name %>
<%= s.label :artist_id %>
<%= s.number_field :artist_id %>
<%= s.label :genre_id %>
<%= s.number_field :genre_id %>
<%= s.submit %>
<% end %>
